body{
  padding-top: 70px;
  background-color: rgb(243, 236, 236);
}

.header{
  background: linear-gradient(90deg, #000000 0%, #660000 50%, #000080 100%);
}

.login-button{
  background: linear-gradient(90deg, #660000 0%, #000080 100%);
  border: none;
  font-family: 'tahoma';
}

.login-button:hover {
  color: rgba(255, 255, 255, 0.668);
}

input[type="search"]:focus {
  outline: none;
  box-shadow: none;
}


.user-account-links{
  border-radius: 8px;
  padding: 10px;
}

.user-account-links a{
  padding: 8px 15px;
  transition: background-color 0.3s;
}

.user-account-links a:hover{
  background-color: #f8f9fa;
}

.features-menu{
  border-radius: 8px;
  padding: 10px;
}

.features-menu a{
  padding: 8px 15px;
  transition: background-color 0.3s;
}

.features-menu a:hover{
  background-color: #f8f9fa;
}

.features-menu .dropdown-item i.payment,
.features-menu .dropdown-item i.experience,
.features-menu .dropdown-item .loyal {
    font-size: 16px; 
    padding: 5px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.features-menu .dropdown-item:hover i.payment {
    background-color: green; 
    color: white;
}

.features-menu .dropdown-item:hover i.experience {
    background-color: green; 
    color: white; 
}

.features-menu .dropdown-item:hover i.loyal {
  background-color: green; 
  color: white; 
}

.features-menu .dropdown-item:hover .loyal {
    background-color: green; 
    border-radius: 5px; 
}

.hero {
  background-image: linear-gradient(rgba(20, 20, 20, .65), rgba(20, 20, 20, .65)), url(/assets/Images/gym.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.accordion-button{
  background: linear-gradient(90deg, #660000 0%, #000080 100%);
  border: none;
}

.card-header{
  font-family: 'roboto';
}

.alert-warning{
  background-color: #16213e;
}

.alert{
  background-color: #16213e;
}
